body {
  height: 100vh; /* Забезпечте 100% висоти екрана */
  margin: 0; /* Видаліть зовнішні відступи */
  background: linear-gradient(
    to bottom,
    hsl(221.14deg, 31.53%, 21.76%) 50%,
    hsl(221, 40%, 80%) 50%
  ); /* Градієнтний фон: перша половина - вказаний hsl колір, друга половина - інший hsl колір */
}

.container {
    width: 60%;
    margin: auto;
}

.title-holder {
    display: flex;
    justify-content: center;
}

.title {
    color: #fff;
    font-size: 55px;
    padding-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.desc-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 20px;
  padding-right: 20px;
}

.at {
  color: white;
  font-size: 55px;
  padding-right: 20px;
}

.num {
  color: red;
  font-size: 55px;
  font-weight: 700;
}

.block {
  margin-top: 30px;
  background-color:  white;
  width: 100% ;
  height: 75vh;

}

.left {
  width: 50%;
  height: 60%;
  background-color: orange;
}

.left_holder{
  width: 100%;
  height: 100%;
}

.nepal_kenia {
  display: flex;
  height: 40%;
  width: 50%;
  display: flex;
}

.nepal {
  background-color: blue;
  width: 50%;
  height: 100%;
}

.kenia {
  background-color: green;
  width: 50%;
  height: 100%;
}