body {
  height: 100vh; /* Забезпечте 100% висоти екрана */
  margin: 0; /* Видаліть зовнішні відступи */
  background: linear-gradient(
    to bottom,
    hsl(221.14deg, 31.53%, 21.76%) 50%,
    hsl(221, 40%, 80%) 50%
  ); /* Градієнтний фон: перша половина - вказаний hsl колір, друга половина - інший hsl колір */
}

.container {
    width: 60%;
    margin: auto;
}

.title-holder {
    display: flex;
    justify-content: center;
}

.title {
    color: #fff;
    font-size: 55px;
    padding-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.desc-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 20px;
  padding-right: 20px;
}

.at {
  color: white;
  font-size: 55px;
  padding-right: 20px;
}

.num {
  color: red;
  font-size: 55px;
  font-weight: 700;
}

section {
  margin-top: 20px;
}

.block {
  display: flex;
  width: 65%;
  margin: auto;
  height: 77vh;
}

.left {
  width: 50%;
  height: 77vh;
  padding: 10px;
}

.right {
  width: 50%;
  height: 77vh;
  padding: 10px;
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.img_left_top {
  height: 60%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/bnbn.jpg);
  background-position: center;
  background-size: cover;
}

.img_right_down {
  height: 60%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/nbn.jpg);
  background-position: center;
  background-size: cover;
}

.img_left_down {
  height: 40%;
  width: 100%;
  padding-top: 20px;
}

.img_right_top {
  width: 100%;
  height: 40%;
  padding-bottom: 20px;
}

.img_right_holder {
  display: flex;
  width: 100%;
  height: 100%;
}

.right_img1 {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/jkkjjk.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}
.right_img2 {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/rtrt.jpg);
  background-position: center;
  background-size: cover;
}

.img_left_holder {
  width: 100%;
  height: 100%;
  display: flex;
}

.left_img1 {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/tt.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

.left_img2 {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/jhjhjh.jpg);
  background-position: center;
  background-size: cover;
}

